body, html{
	height:100%;
	margin:0;
	background-color:#f7f7f7;
	color:#909090;
	font-family:Calibri;
	font-size:1.1em;
}

/*image d'accueil*/

.imgheader{
	background:url(lostindata.jpg);
    height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	

}

/*Menu*/
nav{
	background:#afafaf;
	opacity:0.9;
	height:9%;
	width:100%;
	overflow:auto;
	position:fixed;
	margin:0 auto;
	top:0;
	}
	
nav ul, nav li {
	list-style-type:none;
	padding:0;
	margin:0 auto;
	margin-left:auto;
    margin-right:auto;
	
}

nav li{
	float:right;
	padding:7px;
	margin:0 auto;
	margin-left:1%;
	margin-right:5px;
	margin-top:0.9%;
	font-size:1.2em;
	
}

nav li a {
	text-decoration:none;
	font-family:calibri;
	font-size:1em;
	text-transform:uppercase;
	text-align:center;
	display:block;
	color:#2653a5;
	margin:0 auto;
}


/*Titres*/

h1{
	text-align:center;
	font-family:calibri;
	font-weight:100;
	font-size:7em;
	margin:0 auto;
	padding-top:15%;
	text-transform:uppercase;
	color:#909090;
}

h2{
	margin-top:10%;
	text-align:center;
	font-family:calibri;
	font-weight:100;
	font-size:3em;
	color:#2653a5;
	text-transform:uppercase;
}

h3{
	text-align:center;
	font-family:calibri;
	font-weight:bold;
	font-size:22pt;
	
}

/*Section à propos*/

.intro{
	width:100%;
	height:60%;
	
}

.imgintro{
	margin-top:3%;
	margin-bottom:3%;
	margin-left:20%;
	width:30%;
	height:55%;
	float:left;
}

.introtxt{
width:30%;
height:50%;
float:left;
text-align:justify;
font-family:arial;
font-size:1em;
margin-top:4%;
margin-left:7%;
margin-bottom:0;

}

/*Pictos de redirection*/

.artlinks{

	margin-left:5%;
	margin-right:auto;
	padding:0;
	width:100%;
	float:left;
}

.pict1, .pict2, .pict3{
	float:left;
	padding:4%;
	width:12%;
	margin-left:8%;
}

.buttonlist{
	margin-left:9%;
	padding:0;
	
}

.button {
	background-color:#fff;
    border: none;
    color: #000;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	margin-left:9%;
	margin-right:auto;
	border: solid 0.5px #000;
}

.clear{
	clear:both;
}

/*qui sommes-nous*/


.grpimg{
	display: block;
    margin: 0 auto;
	margin-bottom:10%;
	
}

/*Glossaire*/

.alphabet{
	height:2%;
	margin-left:40%;
	margin-top:3%;
}

/*article 1*/

span{
	font-size:5em;
	font-family:arial;
	color:#2653a5;
	line-height:150%;
	font-weight:bold;
	
}

.lesv{
	font-size:3em;
	font-family:arial;
	line-height:250%;
	
}

.vs{
	list-style-type:none;
	margin-left:auto;
	margin-right:auto;
	
}

.vs li{
	font-size:14pt;
}
.bdchiffres ul li{
	list-style-type:none;
	font-size:16pt;
	margin-left:15%;
	margin-right:auto;
}

/*Contact*/

form{
	width:27%;
	height:60%;
	margin-left:35%;
	margin-bottom:10%;
	border-radius:15px;
	border:solid 2px #2653a5;
	padding:25px;
}

/*footer*/

footer{
	min-height:7%;
	position:absolute;
	width:100%;
	background-color:#afafaf;
	text-transform:uppercase;
	color:#2653a5;
	text-align:center;
	padding:2%;
	
}